

<h1>Search For Information</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form class="d-flex" role="search" asp-action="ShowSearchResults">

                <label for="SearchPhrase" class="control-label"></label>
                <input Name="SearchPhrase" class="form-control me-2" />
         
            <div class="form-group">
                <input type="submit" value="Search" class="btn btn-outline-light" />
            </div>
        </form>


         

    </div>
</div>

<div class="btn-end">
    <a  class="as_btn" asp-action="Index">Back</a>
  
</div>




 



